/* App.css */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.app-header {
  height: 150px;
  color: white;
  background: linear-gradient(to right, #00ff00, black);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2em;
}

h3 {
  color: #666;
  font-size: 1.5em;
}

button {
  margin: 5px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

input[type="text"] {
  margin: 20px 0;
  padding: 10px;
  font-size: 16px;
}

.todo-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.todo-item span {
  margin-right: 10px;
}